<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div class="container">
    <div th:replace="fragments.html :: event-information"></div>
    <div th:replace="fragments.html :: event-nav(eventMenu='activities')"></div>
    <div class="row my-3 mx-3 justify-content-center">
            <div class="col-10 px-0 row">
                <div class="col-2 px-0">
                    <ul class="list-group">
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                           	New Activities
                            <span th:text="${newActivities.size()}">2</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Old Activities
                            <span th:text="${oldActivities.size()}">5</span>
                        </a>
                    </ul>
                </div>
                <div class="col-10 row row-cols-1 row-cols-md-2">
                    <div th:if="${newActivities.size() == 0}" class="col">
                        There are no new activities.
                    </div>
                    <div class="col mb-4 pr-0" th:each="event: ${newEvents}">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${activity.title}">title</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fa fa-calendar"></i>
                                    <span class="calendar" th:text="${activity.startDateTime}"></span> Start activity
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-hourglass-end"></i> <span class="fromNow" th:text="${activity.endEnrollmentDateTime}"></span> Enrollment closed,
                                    <span th:if="${activity.limitOfEnrollments != 0}">
                                    <span th:text="${activity.limitOfEnrollments}"></span>Enrollment ongoing
                                    (<span th:text="${activity.numberOfRemainSpots()}"></span> seats are available)
                                </span>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" th:href="@{'/event/' + ${event.path} + '/activities/' + ${activity.id}}" class="card-link">Show details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 px-0 row">
                <div class="col-2"></div>
                <div class="col-10">
                    <table th:if="${oldActivities.size() > 0}" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title of activity</th>
                            <th scope="col">Close activity</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:each="activity: ${oldActivities}">
                        <tr>
                            <th scope="row" th:text="${activityStat.count}">1</th>
                            <td th:text="${activity.title}">Title</td>
                            <td>
                                <span class="date-weekday-time" th:text="${activity.endDateTime}"></span>
                            </td>
                            <td>
                                <a href="#" th:href="@{'/event/' + ${event.path} + '/activities/' + ${activity.id}}" class="card-link">Show details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: tooltip"></script>
    <script th:replace="fragments.html :: date-time"></script>
</body>
</html>