<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">

	<div th:replace="fragments.html :: main-nav"></div>

	<!-- Sign up form -->
	<div class="container">
		<div class="py-5 text-center">
			<h2>Create Event</h2>
		</div>
 <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{/new-event}" th:object="${eventForm}" method="post" novalidate>
                <div class="form-group">
                    <label for="path">Event URL</label>
                    <input id="path" type="text" th:field="*{path}" class="form-control"
                           placeholder="i.e.) event-path" aria-describedby="pathHelp" required min="2" max="20">
                    <small id="pathHelp" class="form-text text-muted">
                       2-20 letters i.e.)<b>study-path</b>
                    </small>
                    <small class="invalid-feedback">Please enter study path</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('path')}" th:errors="*{path}">Path Error</small>
                </div>

                <div class="form-group">
                    <label for="title">Event Title</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control"
                           placeholder="Title" aria-describedby="titleHelp" required max="50">
                    <small id="titleHelp" class="form-text text-muted">
                       	Less than 50 letters.
                    </small>
                    <small class="invalid-feedback">Please enter study title.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                </div>

                <div class="form-group">
                    <label for="shortDescription">Short Description</label>
                    <textarea id="shortDescription" type="textarea" th:field="*{shortDescription}" class="form-control"
                              placeholder="Short description." aria-describedby="shortDescriptionHelp" required maxlength="100"></textarea>
                    <small id="shortDescriptionHelp" class="form-text text-muted">
                        Less than 100 letters.
                    </small>
                    <small class="invalid-feedback">Please enter short description.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">ShortDescription Error</small>
                </div>

                <div class="form-group">
                    <label for="fullDescription">Full Description</label>
                    <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="editor form-control"
                              placeholder="Full description" aria-describedby="fullDescriptionHelp" required></textarea>
                    <small id="fullDescriptionHelp" class="form-text text-muted">
                        Please enter details about the event.
                    </small>
                    <small class="invalid-feedback">Please enter full desxription.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">FullDescription Error</small>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">Create Event</button>
                </div>
            </form>
            </div>
		<div th:replace="fragments.html :: footer"></div>
    <script th:replace="fragments.html :: form-validation"></script>
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
     <script type="application/javascript">
        $(function () {
            $('#fullDescription').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Merriweather'],
                placeholder: 'Please enter details about the event.',
                tabsize: 2,
                height: 300
            });
        });
    </script>
</body>
</html>