<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div th:replace="fragments.html :: event-banner"></div>
    <div class="container">
    <div th:replace="fragments.html :: event-information"></div>
    <div th:replace="fragments.html :: event-nav(eventMenu='settings')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: event-settings-menu(currentMenu='image')"></div>
        </div>
            <div class="col-8">
                <div th:replace="fragments.html :: msg"></div>
                <div class="row">
                    <h2 class="col-sm-12">Use Banner Image</h2>
                </div>
                
                <!-- Form 1 -->
                <form th:if="${!event.useBanner}" action="#" th:action="@{'/event/' + ${event.getPath()} + '/settings/banner/enable'}" method="post" novalidate>
                    <div class="alert alert-primary" role="alert">
                     	Use event banner image in the event menu. If image is not uploaded, we use default banner image. 
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block" type="submit" aria-describedby="submitHelp">Use Banner Image</button>
                    </div>
                </form>
                <form th:if="${event.useBanner}" action="#" th:action="@{'/event/' + ${event.getPath()} + '/settings/banner/disable'}" method="post" novalidate>
                    <div class="alert alert-info" role="alert">
                        	Do not use banner image in the event menu. (Use banner image in study list.) 
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block" type="submit" aria-describedby="submitHelp">Do not use banner image</button>
                    </div>
                </form>
                <hr/>
                
                
                <!-- Form 2 -->
                <div class="row">
                    <h2 class="col-sm-12">Change banner image</h2>
                </div>
                <form id="imageForm" action="#" th:action="@{'/event/' + ${event.getPath()} + '/settings/banner'}" method="post" novalidate>
                    <div class="form-group">
                        <input id="eventImage" type="hidden" name="image" class="form-control" />
                    </div>
                </form>
                <div class="card text-center">
                    <div id="current-event-image" class="mt-3">
                        <img class="rounded" th:src="${event.image}" width="640" alt="name" th:alt="${event.title}"/>
                    </div>
                    <div id="new-study-image" class="mt-3"></div>
                    <div class="card-body">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="event-image-file">
                            <label class="custom-file-label" for="event-image-file">New banner image</label>
                        </div>
                        <div id="new-event-image-control" class="mt-3">
                            <button class="btn btn-outline-primary btn-block" id="cut-button">Crop</button>
                            <button class="btn btn-outline-success btn-block" id="confirm-button">Confirm</button>
                            <button class="btn btn-primary btn-block" id="save-button">Save</button>
                            <button class="btn btn-outline-warning btn-block" id="reset-button">Reset</button>
                        </div>
                        <div id="cropped-new-event-image" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: tooltip"></script>
    
    
     <link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>

    <script type="application/javascript">
        $(function() {
            cropper = '';
            let $confirmBtn = $("#confirm-button");
            let $resetBtn = $("#reset-button");
            let $cutBtn = $("#cut-button");
            let $saveBtn = $("#save-button");
            let $newEventImage = $("#new-event-image");
            let $currentEventImage = $("#current-event-image");
            let $resultImage = $("#cropped-new-event-image");
            let $eventImage = $("#eventImage");

            $newEventImage.hide();
            $cutBtn.hide();
            $resetBtn.hide();
            $confirmBtn.hide();
            $saveBtn.hide();

            $("#event-image-file").change(function(e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader();
                    reader.onload = e => {
                        if (e.target.result) {
                            if (!e.target.result.startsWith("data:image")) {
                                alert("Please select image file.");
                                return;
                            }

                            let img = document.createElement("img");
                            img.id = 'new-event';
                            img.src = e.target.result;
                            img.setAttribute('width', '100%');

                            $newStudyImage.html(img);
                            $newStudyImage.show();
                            $currentStudyImage.hide();

                            let $newImage = $(img);
                            $newImage.cropper({aspectRatio: 13/2});
                            cropper = $newImage.data('cropper');

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    };

                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $resetBtn.click(function() {
                $currentEventImage.show();
                $newEventImage.hide();
                $resultImage.hide();
                $resetBtn.hide();
                $cutBtn.hide();
                $confirmBtn.hide();
                $saveBtn.hide();
                $eventImage.val('');
            });

            $cutBtn.click(function () {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();

                if (dataUrl.length > 1000 * 1024) {
                    alert("Too big file." + dataUrl.length);
                    return;
                }

                let newImage = document.createElement("img");
                newImage.id = "cropped-new-event-image";
                newImage.src = dataUrl;
                newImage.width = 640;
                $resultImage.html(newImage);
                $resultImage.show();
                $confirmBtn.show();

                $confirmBtn.click(function () {
                    $newEventImage.html(newImage);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $eventImage.val(dataUrl);
                    $saveBtn.show();
                });
            });

            $saveBtn.click(function() {
                $("#imageForm").submit();
            })
        });
    </script>
</body>
</html>