<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col-3">
                <ul class="list-group">
                    <a href="#" th:href="@{/notifications}" th:classappend="${isNew}? active"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                      New notifications
                        <span th:text="${numberOfNotChecked}">3</span>
                    </a>
                    <a href="#" th:href="@{/notifications/old}" th:classappend="${!isNew}? active"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                       Old Notifications
                        <span th:text="${numberOfChecked}">0</span>
                    </a>
                </ul>

                <ul class="list-group mt-4">
                    <a href="#" th:if="${eventNotifications.size() > 0}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        New Notifications
                        <span th:text="${eventNotifications.size()}">3</span>
                    </a>
                   
                </ul>

                <ul class="list-group mt-4" th:if="${numberOfChecked > 0}">
                    <form th:action="@{/notifications}" th:method="delete">
                        <button type="submit" class="btn btn-block btn-outline-warning" aria-describedby="deleteHelp">
                            	Delete old notifications
                        </button>
                        <small id="deleteHelp">Notifications older than one month is automatically deleted.</small>
                    </form>
                </ul>
            </div>
            <div class="col-9">
                <div class="card" th:if="${notifications.size() == 0}">
                    <div class="card-header">
                        	There are no notifications.
                    </div>
                </div>

                <div class="card" th:if="${eventNotifications.size() > 0}">
                    <div class="card-header">
                        	New event you may be interested is created. 
                    </div>
                    <div th:replace="fragments.html :: notification-list (notifications=${eventNotifications})"></div>
                </div>

                
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: date-time"></script>
</body>
</html>