<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>
 
 <div class="py-5 text-center" th:if="${error}">
  	   <p class="lead">Event Management Email Confirmation</p>
   	   <div class="alert alert-danger" role="alert">
  		 Email confirmation failed.
  	   </div> 
  </div>
 
  <div class="py-5 text-center" th:if="${error == null}">
    <p class="lead"> Event Management Email Confirmation</p>
  	<h2>
  	Welcome <span th:text="${nickname}"></span>. We confirmed your email.</span> 
  	</h2>
  	<small class="text-info">You can login with your email or nickname & password.</small>
 </div>
 
 
  <div th:replace="fragments.html :: footer"></div>
 </body>
 </html>