<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

	<div th:replace="fragments.html :: main-nav"></div>


	<div class="container">
		<div class="py-5 text-center">
			<h2>Event Management</h2>
			<p>Bad Request.</p>
			
			<a href = "a" th:href="@{/}" class= "alert-link"> Back to main pahe</a>
		</div>
		
		
		<div th:replace="fragments.html :: footer"></div>
	</div>
</body>
</html>


















