<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- header -->
<head th:fragment="head">
 <meta charset="UTF-8">
    <title>Event Management</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <style>
        .container {
            max-width: 100%;
        }

        .tagify-outside{
            border: 0;
            padding: 0;
            margin: 0;
        }

        #study-logo {
            height: 200px;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        #study-logo img {
            height: auto;
            width: 100%;
            overflow: hidden;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        body,
        input,
        button,
        select,
        optgroup,
        textarea,
        .tooltip,
        .popover {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        table th {
            font-weight: lighter;
        }

        mark {
            padding: 0;
            background: transparent;
            background: linear-gradient(to right, #f0ad4e 50%, transparent 50%);
            background-position: right bottom;
            background-size: 200% 100%;
            transition: all .5s ease;
            color: #fff;
        }

        mark.animate {
            background-position: left bottom;
            color: #000;
        }

        .jumbotron {
            padding-top: 3rem;
            padding-bottom: 3rem;
            margin-bottom: 0;
            background-color: #fff;
        }
        @media (min-width: 768px) {
            .jumbotron {
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
        }

        .jumbotron p:last-child {
            margin-bottom: 0;
        }

        .jumbotron h1 {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }
    </style>
</head>

<!-- navbar -->
<nav th:fragment="main-nav"
	class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="/" th:href="@{/}"> <img
		src="/images/logo_symbol.png" width="30" height="30">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<form th:action="@{/search/study}" class="form-inline" method="get">
					<input class="form-control mr-sm-2" name="keyword" type="search"
						placeholder="Search Event" aria-label="Search" />
				</form>
			</li>
		</ul>

		<ul class="navbar-nav justify-content-end">
			<li class="nav-item" sec:authorize="!isAuthenticated()"><a
				class="nav-link" th:href="@{/login}">Sign in</a></li>
			<li class="nav-item" sec:authorize="!isAuthenticated()"><a
				class="nav-link" th:href="@{/sign-up}">Sign up</a></li>
			<li class="nav-item" sec:authorize="isAuthenticated()"><a
				class="nav-link" th:href="@{/notifications}"> <i
					class="fa fa-bell-o" aria-hidden="true"></i>
			</a></li>
			<li class="nav-item" sec:authorize="isAuthenticated()"><a
				class="nav-link btn btn-outline-primary" th:href="@{/new-event}">
					Create Event <i class="fa fa-plus" aria-hidden="true"></i>
			</a></li>

			<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <svg
						th:if="${#strings.isEmpty(account?.profileImage)}"
						th:data-jdenticon-value="${#authentication.name}" width="24"
						height="24" class="rounded border bg-light"></svg> <img
					th:if="${!#strings.isEmpty(account?.profileImage)}"
					th:src="${account.profileImage}" width="24" height="24"
					class="rounded border" />
			</a>
				<div class="dropdown-menu dropdown-menu-sm-right"
					aria-labelledby="userDropdown">
					<h6 class="dropdown-header">
						<span sec:authentication="name">User name</span>
					</h6>
					<a class="dropdown-item"
						th:href="@{'/profile/' + ${#authentication.name}}">Profile</a> <a
						class="dropdown-item">Event</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">Setting</a>
					<form class="form-inline my-2 my-lg-0" action="#"
						th:action="@{/logout}" method="post">
						<button class="dropdown-item" type="submit">Sign out</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
</nav>



<!-- Setting Menu -->
<div th:fragment="settings-menu (currentMenu)" class="list-group">
	<a class="list-group-item list-group-item-action"
		th:classappend="${currentMenu == 'profile'}? active" href="#"
		th:href="@{/settings/profile}">Profile</a> <a
		class="list-group-item list-group-item-action"
		th:classappend="${currentMenu == 'password'}? active" href="#"
		th:href="@{/settings/password}">Password</a> <a
		class="list-group-item list-group-item-action"
		th:classappend="${currentMenu == 'notifications'}? active" href="#"
		th:href="@{/settings/notifications}">Notification</a> <a
		class="list-group-item list-group-item-action"
		th:classappend="${currentMenu == 'tags'}? active" href="#"
		th:href="@{/settings/tags}">Tag</a> <a
		class="list-group-item list-group-item-action"
		th:classappend="${currentMenu == 'zones'}? active" href="#"
		th:href="@{/settings/zones}">Zone</a> <a
		class="list-group-item list-group-item-action list-group-item-danger"
		th:classappend="${currentMenu == 'account'}? active" href="#"
		th:href="@{/settings/account}">Account</a>
</div>

<!-- Message -->
<div th:fragment="msg" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <span th:text="${message}">Complete</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



<!-- Footer -->
<footer th:fragment="footer">
	<div class="row justify-content-center">
		<small class="d-block mb-3 text-muted">&copy; 2020</small>
	</div>
</footer>




<!-- 
Event
 -->

<!-- Event Banner 
<div th:fragment="event-banner" th:if="${event.useBanner}" class="row"
	id="study-logo">
	<img th:src="${event.image}" />
</div>-->


<!-- Event Information Title -->
<div th:fragment="event-information">
	<div class="row pt-4 text-left justify-content-center bg-light">
		<div class="col-6">
			<a href="#" class="text-decoration-none"
				th:href="@{'/event/' + ${event.path}}"> <span class="h2"
				th:text="${event.title}">Event name</span>
			</a>
		</div>
		<div class="col-4 text-right justify-content-end">
			<span th:if="${!event.published}" class="d-inline-block" tabindex="0"
				data-toggle="tooltip" data-placement="bottom"
				title="Not yet published">
				<button class="btn btn-primary btn-sm" style="pointer-events: none;"
					type="button" disabled>DRAFT</button>
			</span> <span th:if="${event.closed}" class="d-inline-block" tabindex="0"
				data-toggle="tooltip" data-placement="bottom" title="Closed event">
				<button class="btn btn-primary btn-sm" style="pointer-events: none;"
					type="button" disabled>CLOSED</button>
			</span> <span th:if="${!event.registration}" class="d-inline-block ml-1"
				tabindex="0" data-toggle="tooltip" data-placement="bottom"
				title="Registration closed">
				<button class="btn btn-primary btn-sm" style="pointer-events: none;"
					type="button" disabled>OFF</button>
			</span> <span sec:authorize="isAuthenticated()"
				th:if="${event.isJoinable(#authentication.principal)}"
				class="btn-group" role="group" aria-label="Basic example"> <a
				class="btn btn-primary"
				th:href="@{'/event/' + ${event.path} + '/join'}"> Register </a> <a
				class="btn btn-outline-primary"
				th:href="@{'/event/' + ${event.path} + '/members'}"
				th:text="${event.members.size()}">1</a>
			</span> <span sec:authorize="isAuthenticated()"
				th:if="${!event.closed && event.isMember(#authentication.principal)}"
				class="btn-group" role="group"> <a
				class="btn btn-outline-warning"
				th:href="@{'/event/' + ${event.path} + '/leave'}"> Cancel
					registration </a> <a class="btn btn-outline-primary"
				th:href="@{'/event/' + ${event.path} + '/members'}"
				th:text="${event.members.size()}">1</a>
			</span> <span sec:authorize="isAuthenticated()"
				th:if="${event.published && !event.closed && event.isManager(#authentication.principal)}">
				<a class="btn btn-outline-primary"
				th:href="@{'/event/' + ${event.path} + '/new-event'}"> <i
					class="fa fa-plus"></i> Create Event
			</a>
			</span>
		</div>
	</div>

	<div class="row justify-content-center bg-light">
		<div class="col-10">
			<p class="lead" th:text="${event.shortDescription}"></p>
		</div>
	</div>
	<div class="row justify-content-center bg-light">
		<div class="col-10">
			<p>
				<span th:each="tag: ${event.tags}"
					class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
					<a th:href="@{'/search/tag/' + ${tag.title}}"
					class="text-decoration-none text-white"> <i class="fa fa-tag"></i>
						<span th:text="${tag.title}">Tag</span>
				</a>
				</span> <span th:each="zone: ${event.zones}"
					class="font-weight-light text-monospace badge badge-primary mr-3">
					<a th:href="@{'/search/zone/' + ${zone.id}}"
					class="text-decoration-none text-white"> <i class="fa fa-globe"></i>
						<span th:text="${zone.city}">City</span>
				</a>
				</span>
			</p>
		</div>
	</div>
</div>


<!-- Event Nav Bar -->
<div th:fragment="event-nav (eventMenu)" class="row px-3 justify-content-center bg-light">
	<nav class="col-10 nav nav-tabs">
		<a class="nav-item nav-link" href="#" th:classappend="${eventMenu == 'info'}? active"
			th:href="@{'/event/' + ${event.path}}"> <i
			class="fa fa-info-circle"></i> Description
		</a> <a class="nav-item nav-link" href="#"
			th:classappend="${eventMenu == 'members'}? active"
			th:href="@{'/event/' + ${event.path} + '/members'}"> <i
			class="fa fa-user"></i> Member
		</a> <a class="nav-item nav-link"
			th:classappend="${eventMenu == 'events'}? active" href="#"
			th:href="@{'/event/' + ${event.path} + '/events'}"> <i
			class="fa fa-calendar"></i> Schedules
		</a> <a sec:authorize="isAuthenticated()"
			th:if="${event.isManager(#authentication.principal)}"
			class="nav-item nav-link"
			th:classappend="${eventMenu == 'settings'}? active" href="#"
			th:href="@{'/event/' + ${event.path} + '/settings/description'}">
			<i class="fa fa-cog"></i> Setting
		</a>
	</nav>
</div>


<!-- Event Settings Menu -->
<div th:fragment="event-settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}? active"
       href="#" th:href="@{'/event/' + ${event.path} + '/settings/description'}">Description</a>
    <!-- <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'image'}? active"
       href="#" th:href="@{'/event/' + ${event.path} + '/settings/banner'}">Banner Image</a> -->
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active"
       href="#" th:href="@{'/event/' + ${event.path} + '/settings/tags'}">Tags</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active"
       href="#" th:href="@{'/event/' + ${event.path} + '/settings/zones'}">Zones</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'activity'}? active"
       href="#" th:href="@{'/event/' + ${event.path} + '/settings/activity'}">Activities</a>
</div>



<!-- Event Members -->
<div th:fragment="member-list (members, isManager)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${member.nickname}" width="64" height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member?.profileImage}" width="64" height="64" class="rounded border mr-3"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span> <span th:if="${isManager}" class="badge badge-primary">관리자</span></h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>


<!-- Form Validation -->
<script type="application/javascript" th:fragment="form-validation">
	
	
			
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())

   

</script>


<!-- Ajax CSRF -->
<script type="application/javascript" th:inline="javascript"
	th:fragment="ajax-csrf">
	
	
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
	

</script>


<!-- Settings: Tooltip -->
<script type="application/javascript" th:fragment="tooltip">
		
		
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

	
</script>


<!-- Settings: editor -->

<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('.editor').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: 'Please enter details of the event.',
                tabsize: 2,
                height: 300
            });
        });
    </script>
</div>


<!-- update Tags -->
<div th:fragment="update-tags (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" >
        $(function() {
            function tagRequest(url, tagTitle) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'title': title})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#tags");
            var tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown : {
                    enabled: 1, // suggest tags after a single character input
                } // map tags
            });
            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);
            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
   </script>
</div>

<!-- update zones -->
<div th:fragment="update-zones (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript">
        $(function () {
            function tagRequest(url, zoneName) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'zoneName': zoneName})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#tags");

            var tagify = new Tagify(tagInput, {
                enforceWhitelist: true,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown : {
                    enabled: 1, // suggest tags after a single character input
                    position: "text",
                } // map tags
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</div>

</html>