<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

	<div th:replace="fragments.html :: main-nav"></div>

	<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
		To complete sign up, please confirm <a href="a" th:href="@{/check-email}" class="alert-link">verification email</a>.
	</div>

	<div class="container">
		<div class="py-5 text-center">
			<h2>Event Management</h2>
		</div>
		
		<div th:replace="fragments.html :: footer"></div>
	</div>
</body>
</html>


















