<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="container">
    
    <!-- Title -->
        <div class="py-5 text-center">
            <p class="lead" th:if="${eventPage.getTotalElements() == 0}">
                Event related to <strong th:text="${keyword}" id="keyword" class="context"></strong> is not found.
            </p>
            <p class="lead" th:if="${eventPage.getTotalElements() > 0}">
               There are <span th:text="${eventPage.getTotalElements()}"></span> events related to <strong th:text="${keyword}" id="keyword" class="context"></strong>.
               
            </p>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:classappend="${#strings.equals(sortProperty, 'publishedDateTime')}? active"
                       th:href="@{'/search/event?sort=publishedDateTime,desc&keyword=' + ${keyword}}">
                        Published date and time
                    </a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(sortProperty, 'memberCount')}? active"
                       th:href="@{'/search/event?sort=memberCount,desc&keyword=' + ${keyword}}">
                        Number of members
                    </a>
                </div>
            </div>
        </div>
        
        
        <!-- Page card vieew -->
        <div class="row justify-content-center">
         <div class="col-sm-10">
         	<div class="row">
         		<div class="col-md-4" th:each="event: ${eventPage.getContent()}">
         			<div class="card mb-4 shadow-sm">
         				<div class="card-body">
         					<a th:href ="@{'/event/' + ${event.path}}" class="text-decoration-none">
         						<h5 class="card-title context" th:text="${event.title}"></h5>
         					</a>
         					
         					<p class="card-text" th:text="${event.shortDescription}">Short description</p>
         					<p class="card-text context">
         						<span th:each="tag: ${event.tags}" class="font-weight-light text-monospace badge badge-pill badge-primary">
         							<a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
         								<i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
         							</a>
         						</span>
         						<span th:each="zone: ${event.zones}" class="font-weight-light text-monospace badge badge-primary">
         							<a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
         								<i class="fa fa-tag"></i> <span th:text="${zone.city}" class="text-white">Zone</span>
         							</a>
         						</span>       						
         					</p>
         					
         					<div class="d-flex justify-content-between alighn-items-center">
         						<small class="text-muted">
         							<i class="fa fa-user-circle"></i>
         							<span th:text="${event.members.size()}"></span>
         						</small>
         						
         						<small class="text-muted date" th:text="${event.publishedDateTime}"></small>
         					</div>         					         					
         				</div>         			
         			</div>       		
         		</div>
         	</div>
            
        </div>
        
        <!-- Pagination -->
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!eventPage.hasPrevious()}? disabled">
                            <a th:href="@{'/search/event?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + ',desc&page=' + ${eventPage.getNumber() - 1}}"
                               class="page-link" tabindex="-1" aria-disabled="true">
                                Previous
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i == eventPage.getNumber()}? active"
                            th:each="i: ${#numbers.sequence(0, eventPage.getTotalPages() - 1)}">
                            <a th:href="@{'/search/event?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + ',desc&page=' + ${i}}"
                               class="page-link" href="#" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${!eventPage.hasNext()}? disabled">
                            <a th:href="@{'/search/event?keyword=' + ${keyword} + '&sort=' + ${sortProperty} + ',desc&page=' + ${eventPage.getNumber() + 1}}"
                               class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
    <script th:replace="fragments.html :: date-time"></script>
    <script src="/node_modules/mark.js/dist/jquery.mark.min.js"></script>
    <script type="application/javascript">
        $(function(){
            var mark = function() {
                // Read the keyword
                var keyword = $("#keyword").text();

                // Determine selected options
                var options = {
                    "each": function(element) {
                        setTimeout(function() {
                            $(element).addClass("animate");
                        }, 150);
                    }
                };

                // Mark the keyword inside the context
                $(".context").unmark({
                    done: function() {
                        $(".context").mark(keyword, options);
                    }
                });
            };

            mark();
        });
    </script>
</body>
</html>