<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Management</title>
</head>
<body>
    <div>
        <p>Hello. <span th:text="${nickname}"></span></p>

        <h2 th:text="${message}">message</h2>

        <div>
            <a th:href="${host + link}" th:text="${linkName}">Link</a>
            <p>If the link does not work, please copy and paste address below.</p>
            <small th:text="${host + link}"></small>
        </div>
    </div>
    <footer>
        <small>EventManagement &copy; 2020</small>
    </footer>
</body>
</html>